/* =============
    html reset
================ */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}

/* =============
    common
================ */
html {
  min-width: 1050px;
  /* soluzione temporanea per il
      non-responsiveness */
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
/* ===============
     typography 
================*/
body {
  font-family: Arial, Helvetica, sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Reem Kufi Ink', sans-serif;
  padding-bottom: 35px;
}
h1 {
  font-size: 45px;
}

h3 {
  font-size: 30px;
}
p {
  line-height: 35px;
}

/* ===============
     buttons 
================*/
.btn {
  padding: 12px 20px;
  border-radius: 50px;
  border: none;
  cursor: pointer;
}
.btn:hover {
  opacity: 0.8;
}
.btn-primary {
  background-color: #87a2e4;
  color: white;
}
.btn-secondary {
  background-color: #23272a;
  color: white;
}
.btn-big {
  font-size: 18px;
}
.btn-small {
  font-size: 14px;
}
/* =============
    icons
================ */
i {
  margin-inline-end: 0.5rem;
  /* inline-end, pk qnd cambio writing-mode in arabo o in giapponese,
  l'icona avrà cmq lo spazio tra le parole  */
}
/* =============
    header
================ */
header {
  padding: 15px 0;
  background-color: #255ee9;
}
.header-row {
  display: flex;
  align-items: center;
  padding: 10px;
}
header,
section.hero {
  color: white;
}
/* header nav */
.header-row nav {
  width: 60%;
  text-align: center;
}
.header-row ul li {
  display: inline-block;
}
.header-row ul li a {
  margin: 0 20px;
}

.header-logo,
.header-btn {
  width: 20%;
}

/* ===============
     hero 
================*/
section.hero {
  height: 500px;
  padding: 15px 0;
  background-image: url(../img/jumbo.png);
  background-size: cover;
}
.hero-content {
  padding: 120px 0;
  text-align: center;
  max-width: 50%;
  margin: 0 auto;
}
.hero-content .row {
  margin-top: 20px;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
/* =============
    main
================ */
main > section > * {
  padding: 55px 0;
}
main section:nth-of-type(even) {
  background-color: #f6f6f6;
}
main section:last-of-type {
  text-align: center;
}
.row {
  display: flex;
}

.col-big {
  width: 70%;
  padding: 0 25px;
}

.col-small {
  width: 30%;
  padding: 0 25px;
}
section h3 {
  background-image: url(../img/stars.svg);
  background-repeat: no-repeat;
  background-position: center;
}
/* le onde tra le sezioni  */
\main section:nth-of-type(odd):after {
  content: '';
  background-image: url(../img/wave-gray.svg);
  display: block;
  height: 80px;
}
main section:nth-of-type(1n + 2):before {
  content: '';
  background-image: url(../img/wave-gray.svg);
  display: block;
  height: 80px;
  rotate: 180deg;
}

/* =============
    footer-top
================ */
footer {
  color: white;
  background-color: #23272a;
}
footer h3,
footer h5 {
  color: #7289da;
}
footer h3 {
  font-size: 33px;
}
footer h5 {
  font-size: 16px;
  padding-bottom: 10px;
}

.footer-top {
  padding: 80px 0 40px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  border-bottom: 1px white solid;
}

.main-col {
  width: 25%;
}
.main-col ul {
  padding-top: 20px;
}
.main-col li {
  margin-inline-end: 10px;
  display: inline;
  font-size: 20px;
}
.main-col > span::before {
  content: ''; /* bandiera italiana*/
  display: inline-block;
  width: 25px;
  height: 20px;
  background-image: url(../img/ita.png);
  background-size: 25px 20px;
}
.side-col {
  width: calc((100% - 25%) / 4);
}
.footer-top .side-col a {
  line-height: 45px;
}
.main-col li:hover,
.footer-top .side-col a:hover {
  color: #7289da;
}
/* =============
    footer-bottom
================ */
.footer-bottom {
  padding: 20px 0 60px;
  display: flex;
  justify-content: space-between;
}
